@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #230f0f;
  color: #F8FAFC;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Leaflet Popup Styling */
.leaflet-popup-content-wrapper {
  background: #1e0d0d !important;
  color: #F8FAFC !important;
  border: 1px solid #3d1a1a;
  border-radius: 12px !important;
}

.leaflet-popup-tip {
  background: #1e0d0d !important;
}
